{% extends "oj/base.html" %}
{% block title %}
Caerus OJ Dev
{% endblock %}
{% block css %}
<link href="/static/css/base.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Caerus Online Judge</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/code">Code</a></li>
          <li class="active"><a href="">About</a></li>
        </ul>
        <form class="navbar-form pull-right" method="post">
          {% csrf_token %}
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p class="lead">TO BE ADDED...</p>
</div>
{% endblock %}
